@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Dosis:200,600";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
body {
    margin: 0;}
	
a {
    color: #18808D;
    text-decoration: none; }
a:focus {
    outline: thin dotted; }
a:hover, a:active {
	cursor:pointer;
    outline: 0 none; 
	color: #104259;
}

h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
p, pre {
    margin: 0 0 10px;
}
pre, code, kbd, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 75%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl, menu, ol, ul {
    margin: 1em 0;
}
dd {
    margin: 0 0 0 40px;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {

}
legend {
    border: 0 none;
    padding: 0;
    white-space: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-shadow: none;
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.warning  {
    color:#A94442
}

.success  {
    color:#3C763D;
}

.padding-bottom-10 {
	padding-bottom:10px;
}

.emptyMessage td {
	padding:5px;
}

.unstyled li {
    list-style:none;
}

body {
    background:#fff;
    font-family: 'Source Sans Pro', Open Sans, Arial;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', Open Sans, Arial;
    font-weight:bold;
}

body, html {
	height:100%;
	width:100%;
}

.landing {
	background: url(../images/bg.jpg) no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}






/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1200px) {

}    

@media (max-width: 1200px) {
   
}

@media (max-width: 979px) {
}


@media (max-width: 767px) {
	

	
}


@media (max-width: 580px) {
  
}

@media (max-width: 470px) {
 
}


@media (max-width: 400px) {



}


