/* reset */
* {
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
/* content editable */

*[contenteditable] {
	border-radius: 0.25em;
	min-width: 1em;
	outline: 0;
}
*[contenteditable] {
	cursor: pointer;
}
*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {
	background: #DEF;
	box-shadow: 0 0 1em 0.5em #DEF;
}
span[contenteditable] {
	display: inline-block;
}
/* heading */

h1 {
	font: bold 100% sans-serif;
	letter-spacing: 0.5em;
	text-align: center;
	text-transform: uppercase;
}
/* table */

table {
	width: 100%;
}

table {
	border-collapse:collapse;
}
thd, tdd {
	border-width: 1px;
	padding: 0.5em;
	position: relative;
	text-align: left;
}
thd, tdd {
	border-radius: 0.25em;
	border-style: solid;
}
thd {
	background: #EEE;
	border-color: #BBB;
}
tdd {
	border-color: #DDD;
}
/* page */

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/zuuDDmIlQfJeEM3Uf6kkpvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/f8qltGyj2S-SS_tsOHsjgfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

html {
	font: 16px/1 Source Sans Pro, 'Source Sans Pro', sans-serif;
	overflow: auto;
	padding: 0.5in;
}
html {
	background: #999;
	cursor: default;
}
body {
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
	padding:0 0.25in;
	width: 11.25in;
	font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif  !important;

}
body {
	background: #FFF;
	border-radius: 1px;
	box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

@media print{@page {size: landscape;  margin: 0%;}}

/* header */


.wrapper {
	width:100%;
	float:left;
	height: 8.69in;
	display:inline-block;
       
}

.w50 {
	width:50%;
}

.w40 {
	width:40%;
}

.w30 {
	width:30%;
}

.w20 {
	width:20%;
}

.w10 {
	width:10%;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.left, .right {
	width:49%;
	float:left;
	display:inline-block;
	position:relative;
	height:720px;
       
}


.hr {
    border-right: 1px dashed #666666;
    float: left;
    height: 810px;
    margin-right: 9px;
    width: 9px;
}

.header {
    background: none repeat scroll 0 0 #0D3D53;
    height: 60px;
    margin: 5px 0 0;
    width: 100%;
}
.header img {
    height: auto;
    margin: 7px 0 0 10px;
    max-width: 120px;
}
.header h3 {
    color: #FFFFFF;
    float: right;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 10px;
}

.header h3 span{
    color: #FFFFFF;
    float: right;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-right: 16px;
}

.styleDes{
		font-size:12px;}
.vat{
		font-size:14px;}

h2 {
	color:#0D3D53;
    font-family:Dosis,Arial,Helvetica,sans-serif;
    font-size: 22px;
    margin: 15px 0;
	font-weight:bold;
	text-transform:uppercase;
}

.top {
	border-bottom: dashed 1px #ccc;
}
.top p span {
	font-size:34px;
	font-weight:bold;
	color:#888888;
	margin-right:20px;
	float:left;
}

span.nofloat {
	float:none;
	font-size:30px;
	font-weight:bold;
	color:#888888;
	margin-right:20px;
	font-family:Dosis,Arial,Helvetica,sans-serif;
	float:left;
}

.topTable td {
	vertical-align:middle;
	height:100px;
	padding-right:10px;
}

.top p {
    color: #666666;
    font-size: 14px;
}

p.middle {
	margin-top:10px;
}


.invoiceToDetails {
    display: inline-block;
    height: auto;
    margin-top: 30px;
    width: 100%;
}
.invoiceToDetails p {
    color: #666666;
    font-size: 15px;
    line-height: 18px;
    padding-right: 15px;
}

.itemTable {
	display: inline-block;
    height: auto;
    margin-top: 30px;
    width: 100%;
}

.itemTable table {
	border-collapse:separate;
	border-spacing:5px;
	text-align:center;
}
.itemTable .tableHeader td {
    background: none repeat scroll 0 0 #B1D1D0;
    color: #000000;
    letter-spacing: 0.25px;
    padding: 10px;
    text-transform: uppercase;
}
.itemTable td {
    background: none repeat scroll 0 0 #DDE9E9;
    color: #333333;
    font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 10px;
    vertical-align: middle;
}
.itemTableBack td{
		padding:3px;}
td.nobg {
	background:none !important;
}

.total td {
	font-size:18px;
}
.total td span {
}

td.price {
    background: none repeat scroll 0 0 #DDE9E9 !important;
    color: #000000 !important;
}
.text-right{text-align:right;}
.charges {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding: 1px !important;
}
.Signature {
    border-bottom: 2px solid #0D3D53;
    border-top: 2px solid #0D3D53;
    display: inline-block;
    margin-top: 0;
    padding: 0 0 30px;
    text-align: right;
    width: 100%;
}
.Signature h2 {
    font-size: 18px;
    margin-top: 5px;
	font-family: source sans pro,Arial,Helvetica,sans-serif;
}
.back-total{
		border-top: 2px solid #0D3D53;
		font-size: 18px;
		padding-top:3px;
		margin-top:0;
		text-align:right;}
.SignatureLeft h3 {
	color:#0D3D53;
	margin-bottom:15px;
}

.SignatureLeft h4 {
	font-size:13px;
	color:#666;
}

.SignatureLeft {
	text-align:left;
}

.ReceiveBy h3 {
    border-top: 1px dashed #666666;
    color: #0D3D53;
    display: block;
    margin-top: 27px;
    padding: 2px 0 0 40px;
}

.terms {
	padding:15px 0;
	width:100%;
	display:inline-block;
}

.terms p {
	font-size:12px;
	color:#666;
}

.ReceiveBy h3 {
}

.footer {
	width:100%;
	position:absolute;
	bottom:0;
	height:100px;
	border-top: solid 1px #ddd;
}

 @media print {
* {
	-webkit-print-color-adjust: exact;
}
html {
	background: none;
	padding: 0;
}
body {
	box-shadow: none;
	margin: 0;
}




}

@media print {
.itemTable .tableHeader td {
	background-color:#4d4d4d;
	-webkit-print-color-adjust: exact; 
	}}


@media print {
.itemTable td {
                background-color: #DBDBDB !important;
                -webkit-print-color-adjust: exact; 
}}
@media print {
.itemTable td {
                background-color: #DBDBDB !important;
                -webkit-print-color-adjust: exact; 
}}
